{#
/**
 * @file
 * Default theme implementation for the internal libraries listing page.
 *
 * Displays a list of all libraries in a project.
 *
 * Available variables:
 * - modules: Contains multiple module instances. Each module contains:
 *   - attributes: Attributes on the row.
 *   - checkbox: A checkbox for enabling the module.
 *   - name: The human-readable name of the module.
 *   - id: A unique identifier for interacting with the details element.
 *   - enable_id: A unique identifier for interacting with the checkbox element.
 *   - description: The description of the module.
 *
 * @see template_preprocess_internal_libraries_form()
 *
 * @ingroup themeable
 */
#}
<table class="responsive-enabled">
  <thead>
    <tr>
      <th class="checkbox visually-hidden">{{ 'Installed'|t }}</th>
      <th class="name visually-hidden">{{ 'Name'|t }}</th>
      <th class="description visually-hidden priority-low">{{ 'Description'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for library in libraries %}
      {% set zebra = cycle(['odd', 'even'], loop.index0) %}
      <tr{{ library.attributes.addClass(zebra) }}>
        <td class="checkbox">
          {{ library.checkbox }}
        </td>
        <td class="library">
          <label id="{{ library.id }}" for="{{ library.enable_id }}" class="library-name table-filter-text-source">{{ library.name }}</label>
        </td>
        <td class="description expand priority-low">
          <details class="js-form-wrapper form-wrapper" id="{{ library.enable_id }}-description" open>
            <summary aria-controls="{{ library.enable_id }}-description" role="button" aria-expanded="true"><span class="text library-description">Impacted files</span></summary>
            <div class="details-wrapper">
              <div class="details-description">
                {{ library.path }}
              </div>
            </div>            
          </details>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
